@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Great+Vibes&family=Quicksand:wght@300&display=swap');

.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: calc(80px + 2vmin);
}

.App-btn {
  background-color: #4ccbf9;
  color: white;
}

.App-header {
  background-color: #101010;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: white;
  animation: fadeIn 5s;
}

.App-header span {
  font-family: 'Great Vibes', cursive;
  font-size: calc(130px + 2vmin);
  
}

.button-container { 
  display: flex;
  column-width: 30%;
  column-gap: 90px;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.main-btn {
  break-inside: avoid;
  page-break-inside: avoid;
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  padding: 10px;
  margin: 1em 0 1em 0;
  color: #fff;
  border-radius: 130px;
  text-align: center;
  column-gap: 20px;
  width: calc(200px + 2vmin);
  height: calc(40px + 3vmin);
  font-family: 'Courier Prime', monospace;
}

.main-btn-content {
  text-decoration: none;
  color: white;
  font-size: calc(20px + 2vmin);
}

@media screen and (max-width: 960px) {
  .App-header {
    background-color: #101010;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(30px + 2vmin);
    color: white;
    animation: fadeIn 5s;
    padding: 30px;
  }

  .main-btn {
    width: 150px;
    height: calc(30px + 3vmin);
  }
}

.main-btn-content:hover {
  color:#202020;
  transition: all 0.3s ease;
}

.main-btn:hover {
  box-shadow: 0 0 1.5rem rgb(52, 52, 52);
  transition: all 0.3s ease;
}

.textbox {
  width: calc(80px + 2vmin);
  height: calc(90px + 2vmin);
  background-color: #fff;
}