

body {
  background-color: black;
  height: 100vh;
  overflow:hidden;
  margin:0px;
}




#tiles {
  height:100vh;
  width: 100vw;

  display:grid;
  grid-template-columns: repeat(var(--columnNum), 1fr);
  grid-template-rows: repeat(var(--rowNum), 1fr);
}

.tile {
  outline: 1px solid white;
}