@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Great+Vibes&family=Quicksand:wght@300&display=swap');

:root {
  --table-width: 1300;
}
.App {
<<<<<<< HEAD
  background:rgb(19, 19, 19);
=======
>>>>>>> parent of 126ae1c (Worked on Calculator)
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: calc(80px + 2vmin);
}

<<<<<<< HEAD
=======
.App-btn {
  background-color: #4ccbf9;
  color: white;
}

.App-header2 {
  background-color: #101010;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
  /*animation: fadeIn 3s;*/
}

>>>>>>> parent of 126ae1c (Worked on Calculator)
.App-header {
  background-color: #101010;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: white;
}

.App-header span {
  font-family: 'Great Vibes', cursive;
  font-size: calc(100px + 2vmin);
}

/* NAVIGATION BAR */
.navbar {
  background: #0bceff;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 999;
<<<<<<< HEAD
=======
  /*animation: fadeIn 3s;*/

>>>>>>> parent of 126ae1c (Worked on Calculator)
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 0px;
}

#navbar__logo {
  background: #303030;
  background-size: 100%;
  font-weight: medium;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.95rem;
  font-family: 'Great Vibes', cursive;
}

.navbar__menu {
  display: flex; 
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155px;
  font-size: 1.1rem;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #ffffff;
  transition: all 0.3s ease;
}

.bar {
  width: 25px;
  height: 1.6px;
  margin: 6.4px auto;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  background: #000000;
}

@media screen and (max-width: 800px) {
<<<<<<< HEAD
=======
  
>>>>>>> parent of 126ae1c (Worked on Calculator)
   .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #ffffff;
    top: 100%;
    opacity: 100%;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
    padding-top: 0px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 1.6px;
    margin: 6.4px auto;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    background: #000000;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    font-size: 1rem;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.button-container { 
  display: flex;
  column-width: 30%;
  column-gap: 90px;
}

<<<<<<< HEAD
=======

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

>>>>>>> parent of 126ae1c (Worked on Calculator)
.main-btn {
  break-inside: avoid;
  page-break-inside: avoid;
  background: #00B4DB;  
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  
  background: linear-gradient(to right, #0083B0, #00B4DB); 
  font-weight: bold;
  padding: 10px;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  border-radius: 130px;
  text-align: center;
  column-gap: 30px;
  width: calc(240px + 2vmin);
  height: calc(17px + 3vmin);
}

.main-btn-content {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: calc(10px + 2vmin);
}

@media screen and (max-width: 960px) {
  .App-header {
    background-color: #101010;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(30px + 2vmin);
    color: white;
    animation: fadeIn 5s;
    padding: 30px;
  }

  .main-btn {
    width: 190px;
    height: calc(30px + 3vmin);
  }

  .main-btn-content {
    font-size: calc(7px + 2vmin);
  }
}

.main-btn-content:hover {
  color:#202020;
  transition: all 0.3s ease;
}

.main-btn:hover {
  box-shadow: 0 0 1.5rem rgb(0, 55, 113);
  transition: all 0.3s ease;
}

.textbox {
  width: calc(500px + 2vmin);
  height: calc(500px + 2vmin);
  background: #1a1a1a;  /* fallback for old browsers */
  border-color: #00B4DB;
  border-radius: 20px;
  padding: 30px;
}

.textbox-heading {
  text-align: center;
  font-family: 'Courier Prime', monospace;
  font-size: calc(20px + 2vmin);
  margin-bottom: 60px;
}

.form {
  background-color: #fff;
  width: calc(500px + 2vmin);
  height: calc(30px + 2vmin);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.textbox-subheading {
  text-align: center;
  font-family: 'Courier Prime', monospace;
  font-size: calc(10px + 2vmin);
  margin-bottom: 30px;
  padding-top: 30px;
}

@media screen and (max-width: 960px) {
  .textbox {
    width: calc(300px + 2vmin);
  }

  .textbox-heading {
    font-size: calc(20px + 2vmin);
  }

  .form {
    width: calc(300px + 2vmin);
    height: calc(50px + 2vmin);
  }
}

/* CALCULATOR SECTION */
.calc-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}


.table {
  padding: 20px 40px;
  margin: 0 auto;
  font-size: calc(10px + 2vmin);
  font-weight: semi-bold;
  background:rgb(42, 42, 42);
  height: calc(--table-width + 2vmin);
  width: calc(1300px + 2vmin);
  border-radius: 15px;
}

.text-table {
  font-family:'Courier New', Courier, monospace;
  color: #fff;
  font-size: calc(7px + 2vmin);
  float:left;
}

.row {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr; 
  grid-auto-flow: column;
  justify-content: start; 
  grid-gap: 0 10px; 
}

input[type=description] {
  grid-column-start: 1;
  width: 300px;
  padding: 12px 20px;
  margin: 0px 0;
  box-sizing: border-box;
}

input[type=number] {
  grid-column-start: 2;
  width: 120px;
  padding: 12px 20px;
  margin: 0px auto;
  box-sizing: border-box;
}
/*
input[type=grade] {
  grid-column-start: 3;
  width: 120px;
  padding: 12px 20px;
  margin: 0px auto;
  box-sizing: border-box;
}
*/

/* COURSES SECTION */
.course-container {
  margin: 0 auto;
  padding: 40px;
  font-size: 20px;
}

.course-list {
  font-size: calc(12px + 2vmin);
}

.course-preview {
  background: rgb(34, 34, 34);
  padding: 0px 15px;
  border-radius: 30px;
  height: calc(140px + 1vmin);
}

.course-preview:hover {
  box-shadow: 0 0 1.5rem rgb(58, 58, 58);
  transition: all 0.2s ease;
}

.course-header {
  background-color: #101010;
<<<<<<< HEAD
  min-height: 92vh;
  font-size: calc(40px + 2vmin);
  color: white;
=======
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: white;
  position: sticky;
>>>>>>> parent of 126ae1c (Worked on Calculator)
}

.grid {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
}

button {
  padding: 8px;
  text-decoration: none;
  font-size: calc(4px + 2vmin);
  font-family: 'Quicksand';
  color:rgb(255, 255, 255);
  background: rgb(35, 35, 35);
  border-color: #00B4DB;
  border-radius: 20px;
}

button:hover {
  cursor: pointer;
}

h3 {
  font-size: calc(25px + 2vmin);
  text-align: left;
  margin-top: -100px;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  background:#202020;
  padding: 40px;
  border-radius: 30px;
}

.create label {
  text-align: left;
  display: block;
  font-size: 25px;
}

.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #00B4DB;
  font-weight: bold;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.create button:hover {
  color: rgb(19, 19, 19);
  transition: all 0.3s ease;
}