@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Great+Vibes&family=Quicksand:wght@300&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --table-width: 1300;
}

.App {
  background:#101010;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: calc(80px + 2vmin);
}

.App-header {
  background-color: #101010;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: white;
}

/* NAVIGATION BAR */
.navbar {
  background: #0bceff;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 0px;
}

#navbar__logo {
  background: #303030;
  background-size: 100%;
  font-weight: medium;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.95rem;
  font-family: 'Great Vibes', cursive;
}

.navbar__menu {
  display: flex; 
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155px;
  font-size: 1.1rem;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #ffffff;
  transition: all 0.3s ease;
}

.bar {
  width: 25px;
  height: 1.6px;
  margin: 6.4px auto;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  background: #000000;
}

@media screen and (max-width: 800px) {
   .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #ffffff;
    top: 100%;
    opacity: 100%;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
    padding-top: 0px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 1.6px;
    margin: 6.4px auto;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    background: #000000;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    font-size: 1rem;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.button-container { 
  display: flex;
  column-width: 30%;
  column-gap: 90px;
}

.main-btn {
  break-inside: avoid;
  page-break-inside: avoid;
  background: #00B4DB;  
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  
  background: linear-gradient(to right, #0083B0, #00B4DB); 
  font-weight: bold;
  padding: 10px;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  border-radius: 130px;
  text-align: center;
  column-gap: 30px;
  width: calc(240px + 2vmin);
  height: calc(17px + 3vmin);
}

.main-btn-content {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: calc(10px + 2vmin);
}

@media screen and (max-width: 960px) {
  .App-header {
    background-color: #101010;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(30px + 2vmin);
    color: white;
    animation: fadeIn 5s;
    padding: 30px;
  }

  .main-btn {
    width: 190px;
    height: calc(30px + 3vmin);
  }

  .main-btn-content {
    font-size: calc(7px + 2vmin);
  }
}

.main-btn-content:hover {
  color:#202020;
  transition: all 0.3s ease;
}

.main-btn:hover {
  box-shadow: 0 0 1.5rem rgb(0, 55, 113);
  transition: all 0.3s ease;
}

.textbox {
  width: calc(500px + 2vmin);
  height: calc(500px + 2vmin);
  background: #1a1a1a;  /* fallback for old browsers */
  border-color: #00B4DB;
  border-radius: 20px;
  padding: 30px;
}

.textbox-heading {
  text-align: center;
  font-family: 'Courier Prime', monospace;
  font-size: calc(20px + 2vmin);
  margin-bottom: 60px;
}

.form {
  background-color: #fff;
  width: calc(500px + 2vmin);
  height: calc(30px + 2vmin);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.textbox-subheading {
  text-align: center;
  font-family: 'Courier Prime', monospace;
  font-size: calc(10px + 2vmin);
  margin-bottom: 30px;
  padding-top: 30px;
}

@media screen and (max-width: 960px) {
  .textbox {
    width: calc(300px + 2vmin);
  }

  .textbox-heading {
    font-size: calc(20px + 2vmin);
  }

  .form {
    width: calc(300px + 2vmin);
    height: calc(50px + 2vmin);
  }
}

/* CALCULATOR SECTION */
.calc-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}

.table {
  padding: 20px 40px;
  margin: 0 auto;
  font-size: calc(10px + 2vmin);
  font-weight: semi-bold;
  background:rgb(42, 42, 42);
  height: calc(--table-width + 2vmin);
  width: calc(1300px + 2vmin);
  border-radius: 15px;
}

.text-table {
  font-family:'Courier New', Courier, monospace;
  color: #fff;
  font-size: calc(7px + 2vmin);
  float:left;
}

.gradeRows {
  display: grid;
  grid-auto-flow:row;
  justify-content: center; 
}

input[type=description] {
  grid-column-start: 1;
  width: 300px;
  padding: 12px 20px;
  margin: 0px 1rem;
  box-sizing: border-box;
}

input[type=number] {
  grid-column-start: 2;
  width: 120px;
  padding: 12px 20px;
  margin: 0px 1rem;
  box-sizing: border-box;
}

.errorModal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 3rem;
  border: 3px solid black;
  border-radius: 5px;
  background: white;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.errorModalText {
  font-size:1.1rem;
  margin-bottom: 1.6rem;
  margin-top: 0;
}

.addGrade-btn {
  margin: 1rem;
  padding: 2px 13rem 2px 13rem;
  text-align: center;
  display:grid;
  grid-template-columns: 1fr 1fr;
  text-decoration: none;
  font-size: calc(4px + 2vmin);
  font-family: 'Quicksand';
  border-radius: 20px;
}

.addGrade-btn-child {
  margin: 1rem;
}


/* COURSES SECTION */
.course-container {
  margin: 0 auto;
  padding: 40px;
  font-size: 20px;
}

.course-preview {
  background: rgb(34, 34, 34);
  padding: 0px 15px;
  border-radius: 30px;
  height: calc(140px + 1vmin);
}

.course-preview:hover {
  box-shadow: 0 0 1.5rem rgb(58, 58, 58);
  transition: all 0.2s ease;
}

.course-header {
  background-color: #101010;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: white;
  position: sticky;
}

button {
  padding: 8px;
  text-decoration: none;
  font-size: calc(4px + 2vmin);
  font-family: 'Quicksand';
  color:rgb(255, 255, 255);
  background: rgb(35, 35, 35);
  border-color: #00B4DB;
  border-radius: 20px;
}

button:hover {
  cursor: pointer;
}

h3 {
  font-size: calc(25px + 2vmin);
  text-align: left;
  margin-top: -100px;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  background:#202020;
  padding: 40px;
  border-radius: 30px;
}

.create label {
  text-align: left;
  display: block;
  font-size: 25px;
}

.create input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #00B4DB;
  font-weight: bold;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.create button:hover {
  color: rgb(19, 19, 19);
  transition: all 0.3s ease;
}

/* NAVIGATION BAR */
.tabs {
  background: #101010;
  height: 10vh;
  font-size: 1.4rem;
  font-weight: bold;
  top: 0;
}

.tab-container {
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 0px;
}

.tab-menu {
  display: flex; 
  align-items: center;
}

.box {
  border-style: solid;
  border: 1px solid #101010 !important;
  border-bottom: 1px solid rgb(255, 255, 255) !important;
  width: 180px;
}

.tab-item {
  height: 80px;
}

.tab-link {
  color: #f0f0f0;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155px;
  font-size: 1.1rem;
  height: 100%;
  transition: all 0.3s ease;
}

.tab-link:hover {
  color: #00B4DB;
  transition: all 0.3s ease;
}

.box:hover {
  border-style: solid;
  border: 2px solid #101010 !important;
  border-bottom: 2px solid #00B4DB !important;
  width: 180px;
}

@media screen and (max-width: 800px) {
  .tab-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .box {
    border-style: solid;
    border: 1px solid #101010 !important;
    border-bottom: 1px solid rgb(255, 255, 255) !important;
    width: 180px;
  }
  
  .tab-menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .tab-menu.active {
    background: #ffffff;
    top: 100%;
    opacity: 100%;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 1.6px;
    margin: 6.4px auto;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    background: #000000;
  }

  .tab-item {
    width: 100%;
  }

  .tab-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    font-size: 1rem;
  }

  .tab-btn {
    padding-bottom: 2rem;
  }
}