@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Great+Vibes&family=Quicksand:wght@300&display=swap');


.waves {
  position: fixed;
  width: 100%;
  height: 50vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
  bottom: 0;
  left: 0;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --table-width: 1300;
  --calc-cardheight: 30vh;
  --calc-cardwidth: calc(var(--calc-cardheight) * 2.5);
  scroll-behavior: smooth;
}

.background-style {
  background-image: url(Wavey.png);
  background-size: 100%;
  transition: all 0.3s ease;
}

.App {
  background:#101010;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: calc(80px + 2vmin);
}

.App-header {
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: white;
}

.home-heading {
  font-family: 'Great Vibes', cursive;
  font-size: calc(100px + 2vmin);
  text-shadow: 2px 2px 3px #101010;
  transition: all 0.3s ease;
}

/* NAVIGATION BAR */
.navbar {
  background: #1A1A1A;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 999;
  color:white;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 0px;
}

#navbar__logo {
  background: #ffffff;
  background-size: 100%;
  font-weight: medium;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.95rem;
  font-family: 'Great Vibes', cursive;
}

.navbar__menu {
  display: flex; 
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155px;
  font-size: 1.1rem;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #00B4DB;
  transition: all 0.3s ease;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: #fff;
}

@media screen and (max-width: 1300px) {
  .background-style {
    background-image: url(Wavey.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
  }

  .waves {
    position: absolute;
    margin-bottom:-10px; 
  }
}

@media screen and (max-width: 800px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #1a1a1a;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  .navbar__toggle .bar {
    width: 26px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  #navbar__logo {
    padding-left: 25px;
    padding-top: 0px;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    font-size: 1rem;
  }


  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

}

.main-btn-container { 
  display: flex;
  column-width: 30%;
  column-gap: 90px;
}

.main-btn {
  break-inside: avoid;
  page-break-inside: avoid;
  background: #00B4DB;  
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  
  background: linear-gradient(to right, #0083B0, #00B4DB); 
  font-weight: bold;
  padding: 10px;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  border-radius: 130px;
  text-align: center;
  column-gap: 30px;
  /*box-shadow: 0 0 1.5rem rgb(3, 153, 218); */
  width: calc(240px + 2vmin);
  height: calc(17px + 3vmin);
}

.main-btn-content {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: calc(10px + 2vmin);
}

@media screen and (max-width: 900px) {
  .App-header {
    min-height: 91vh;
    color: white;
    justify-content: column;
    transition: all 0.5s ease;
  }

  .home-heading {
    font-size: calc(60px + 2vmin);
  }

  .main-btn-container { 
    display: flex;
    flex-direction: column;
    justify-content: column;
    align-items: center;
  }

  .main-btn {
    width: 215px;
    height: calc(18px + 2vmin);
    margin: 0.25em;
  }

  .main-btn-content {
    font-size: calc(8px + 2vmin);
  }
}

.main-btn-content:hover {
  color:#2524249f;
  transition: all 0.3s ease;
}

.main-btn:hover {
  box-shadow: 0 0 1.5rem rgb(3, 153, 218);
  transition: all 0.3s ease;
}

.textbox {
  width: calc(400px + 2vmin);
  height: calc(550px + 2vmin);
  background: #1a1a1a;  /* fallback for old browsers */
  border-color: #00B4DB;
  border-radius: 20px;
  transition: all 0.3s ease;
  padding: 30px;
}

.textbox-heading {
  text-align: center;
  font-family: 'Quicksand';
  font-size: calc(15px + 2vmin);
  margin-bottom: 40px;
}

.form {
  background-color: #fff;
  width: calc(350px + 2vmin);
  height: calc(20px + 2vmin);
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.textbox-subheading {
  text-align: center;
  font-family: 'Quicksand';
  font-size: calc(5px + 2vmin);
  margin-bottom: 30px;
  padding-top: 30px;
}

@media screen and (max-width: 960px) {
  .textbox {
    width: calc(300px + 2vmin);
  }

  .textbox-heading {
    font-size: calc(20px + 2vmin);
  }

  .form {
    width: calc(300px + 2vmin);
    height: calc(20px + 2vmin);
  }
}

/* CALCULATOR SECTION */
.calc-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}

.table {
  padding: 20px 40px;
  margin: 0 auto;
  font-size: calc(10px + 2vmin);
  font-weight: semi-bold;
  background:rgb(42, 42, 42);
  height: calc(--table-width + 2vmin);
  width: calc(1300px + 2vmin);
  border-radius: 15px;
}

.text-table {
  font-family:'Courier New', Courier, monospace;
  color: #fff;
  font-size: calc(7px + 2vmin);
  float:left;
}

.gradeRows {
  display: grid;
  grid-auto-flow:row;
  justify-content: center; 
}

input[type=text] {
  font-family:'Courier New', Courier, monospace;
  font-size: calc(2px + 2vmin);
  color:rgb(19, 19, 19);
  width: calc(150px + 2vmin);
}

input[type=description] {
  grid-column-start: 1;
  width: 300px;
  padding: 12px 20px;
  margin: 0px 1rem;
  box-sizing: border-box;
}

input[type=number] {
  grid-column-start: 2;
  width: 120px;
  padding: 12px 20px;
  margin: 0px 1rem;
  box-sizing: border-box;
}

.errorModal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 3rem;
  border: 3px solid black;
  border-radius: 5px;
  background: white;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.errorModalText {
  font-size:1.1rem;
  margin-bottom: 1.6rem;
  margin-top: 0;
}

.addGrade-btn {
  margin: 1rem;
  padding: 2px 13rem 2px 13rem;
  text-align: center;
  display:grid;
  grid-template-columns: 1fr 1fr;
  text-decoration: none;
  font-size: calc(4px + 2vmin);
  font-family: 'Quicksand';
  border-radius: 20px;
}

.addGrade-btn-child {
  margin: 1rem;
}


.calc-card-container-1{
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  text-align: center;
  
}
.calc-card-container-2{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  padding-left: 20px;
}
.calc-card {
  width: var(--calc-cardwidth);
  height: var(--calc-cardheight);
  padding: 3px;
  position: relative;
  border-width: 10px;
  border-radius: 50px;
  border-style:double;
  border-color:#0083B0;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  text-decoration: none;
  font-size: calc(4px + 2vmin);
  font-family: 'Quicksand';
  color: rgb(88 199 250);
  box-shadow: 0 0 1px 1px #0083B0;
  cursor: pointer;
  flex-direction: column;
  transition: 1s ease-in-out;
}

.calc-card:hover {
  box-shadow: 0 0 3px 3px #0083B0;
  font-size: calc(4px + 2.3vmin);
  transition: box-shadow 1s;
  transition: font-size 1s;
}


.calc-card2 {
  width: var(--calc-cardwidth / 2);
  height: var(--calc-cardheight / 2 + 10px);
  padding: 3px;
  position: relative;
  border-width: 10px;
  border-radius: 50px;
  border-style:double;
  border-color:#0083B0;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  text-decoration: none;
  font-size: calc(4px + 2vmin);
  font-family: 'Quicksand';
  color: rgb(88 199 250);
  box-shadow: 0 0 1px 1px #0083B0;
  cursor: pointer;
  flex-direction: column;
  transition: 1s ease-in-out;
  margin-bottom: 20px;
}

.calc-card2:hover {
  box-shadow: 0 0 3px 3px #0083B0;
  font-size: calc(4px + 2.3vmin);

  transition: box-shadow 1s;
  transition: font-size 1s;
}

@keyframes spin{
  0% {
    --calc-cardrotate: 0deg;
  }
  100%{
    --calc-cardrotate: 360deg;
  }
}
/* COURSES SECTION */
.course-container {
  margin: 0 auto;
  padding: 40px;
  font-size: 20px;
}

.course-preview {
  background: rgb(34, 34, 34);
  padding: 0px 15px;
  border-radius: 30px;
  height: calc(140px + 1vmin);
}

.course-preview:hover {
  box-shadow: 0 0 1.5rem rgb(58, 58, 58);
  transition: all 0.2s ease;
}

.course-header {
  font-size: calc(15px + 2vmin);
  padding-top: 20px;
  margin-bottom: -30px;
  color: white;
}

button {
  padding: 8px;
  text-decoration: none;
  font-size: calc(4px + 2vmin);
  font-family: 'Quicksand';
  color:rgb(255, 255, 255);
  background: rgb(35, 35, 35);
  border-color: #00B4DB;
  border-radius: 20px;
}

button:hover {
  cursor: pointer;
}

h3 {
  font-size: calc(25px + 2vmin);
  text-align: left;
  margin-top: -100px;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  background:#202020;
  padding: 40px;
  border-radius: 30px;
}

label {
  text-align: left;
  display: block;
  font-size: 25px;
}

.create input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #00B4DB;
  font-weight: bold;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.create button:hover {
  color: rgb(19, 19, 19);
  transition: all 0.3s ease;
}

/* NAVIGATION BAR */
.tabs {
  background: #101010;
  height: 10vh;
  font-size: 1.4rem;
  font-weight: bold;
  top: 0;
}

.tab-container {
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 0px;
}

.tab-menu {
  display: flex; 
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 540px;
}

.box {
  border-style: solid;
  border: 1px solid #101010 !important;
  border-bottom: 1px solid rgb(255, 255, 255) !important;
  width: 180px;
}

.tab-item {
  height: 80px;
}

.tab-link {
  color: #f0f0f0;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  height: 100%;
  transition: all 0.3s ease;
}

.tab-link:hover {
  color: #00B4DB;
  transition: all 0.3s ease;
}

.box:hover {
  border-style: solid;
  border: 2px solid #101010 !important;
  border-bottom: 2px solid #00B4DB !important;
  width: 180px;
}

@media screen and (max-width: 800px) {
  .tab-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .box {
    border-style: solid;
    border: 1px solid #101010 !important;
    border-bottom: 1px solid rgb(255, 255, 255) !important;
    width: 180px;
  }

  .tab-item {
    width: 100%;
  }

  .tab-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    font-size: 1rem;
  }

  .tab-btn {
    padding-bottom: 2rem;
  }
}

.column {
  margin: 1rem;
  padding: 20px;
  text-align: center;
  display:grid;
  grid-template-columns: 1fr 1fr;
  font-size: calc(5px + 2vmin);
}

input[type=info] {
  font-family:'Courier New', Courier, monospace;
  font-size: calc(2px + 2vmin);
  color:rgb(19, 19, 19);
  width: calc(300px + 2vmin);
}

input[type=file] {
  font-family:'Quicksand';
  width: calc(250px + 2vmin);
  font-size: calc(3px + 2vmin);
}

input::file-selector-button {
  border: thin solid grey;
  border-radius: 3px;
}

.button-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.workload-container {
  padding: 30px;
}

.file-container {
  padding: 30px;
  width: auto 100%;
  height: auto 100%;
}

.workload-container button {
  width: calc(230px + 2vmin);
}

.workload-container button:hover {
  color:rgb(3, 153, 218);
  transition: all 0.3s ease;
}